<h1>Home</h1>
This is a sample application running on a Node.js server.

<dl>
    <dt><strong>mySQL</strong></dt>
        <dd>Uses a server-side database for persistent data. It also shows off a proprietary JavaScript swiping library called Juissi Swipe.</dd>
    <dt><strong>Local Storage</strong></dt>
        <dd>Uses HTML5 Local storage to store data on the client browser. The server is not aware of the data stored in local storage, and the user is able to clear the local database at any time.</dd>
    <dt><strong>Chat</strong></dt>
        <dd>Uses WebSockets for real-time chatting.</dd>
    <dt><strong>About</strong></dt>
        <dd>A bit about the author.</dd>
    <dt><strong>Contact</strong></dt>
        <dd>Contact information.. maybe</dd>
</dl>